body {
    margin: 0;
}

#myBox {
    background-color: lightgreen;
    width: 170px;
    font-size: 7.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}